{% extends 'layout.twig' %}

{% block head %}
  <link rel="stylesheet" href="/css/addUpdateContact.css">
{% endblock %}

{% block body %}
<div class="update-contact-form">
  <h2>{{title}}</h2>
  <form action="/messages/update/{{message.id}}" method="POST" >
    <label for="FullName">Pseudo</label>
    <input type="text" id="FullName" name="Pseudo" placeholder="Add a pseudo" value="{{message.Pseudo}}" />
    <label for="Phone">Content</label>
    <input type="text" id="Phone" name="Content" placeholder="Add content" value="{{message.Content}}" />
    <input type="submit" value="Save"/>
    <a href="/messages" class="cancel-link">Cancel</a>
  </form>
</div>
{% endblock %}
